nav{
    background-color: #fff;
    .menu {
        display: flex;
        gap: 50px;
        li {
            display: flex;
            align-items: center;
        }
        a {
            color: $primary-color;
            cursor: pointer;
            font-size: $font-size;
        }
    }
}
.logo {
    width: 210px;
    display: flex;
    align-items: center;
}
.menu-btn {
    display: none;
    align-items: center;
    font-size: $font-size-2;
}
@media (max-width: 1300px) {
    nav {
        .logo{
            width: 180px;
        }
        .menu {
            gap: 30px;
        }
    }
}
@media (max-width: 1100px) {
    nav {
        .logo{
            width: 180px;
        }
        .menu {
            gap: 25px;
        }
    }
}
@media (max-width: 1024px) {
    .menu-btn {
        display: flex;
    }
    ul.menu {
        display: none;
    }
}
