@import './partials/variables';
@import './partials/navbar';
@import './partials/header';
@import './partials/login';
.flower-list {
    ul {
        display: flex;
    }
    li {
        color: $primary-color;
        cursor: pointer;
        font-size: $font-size;
        transition: .3s;
        padding: 10px 20px;
        &:hover {
            color: $secondary-color;
        }
        &:focus{
            color :orange;
        }
    }
}
.filter {
    color: $primary-color;
    display: flex;
    align-items: center;
    i {
        padding: 0 7px;
    }
}
.sell-item {
    img {
        transition: .2s;
        cursor: pointer;
        transform-origin: bottom;
        &:hover {
            transform: scale(1.03);
        }
    }
}
.active {
    background-color: #F2F2F3;
}
input {
    width: 100%;
    font-size: $font-size-2;
    padding: 1rem;
    outline-color: $secondary-color;
}
.btn {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    background-color: $secondary-color;
    color:#fff;
    transition: .2s;
    &:focus {
        background-color: #c43022;
    }
}

a {
    color: $primary-color;
    transition: .25s;
    &:hover {
        color: $secondary-color;
    }
}
