nav {
  background-color: #fff;
}
nav .menu {
  display: flex;
  gap: 50px;
}
nav .menu li {
  display: flex;
  align-items: center;
}
nav .menu a {
  color: #3b3b3b;
  cursor: pointer;
  font-size: 16px;
}

.logo {
  width: 210px;
  display: flex;
  align-items: center;
}

.menu-btn {
  display: none;
  align-items: center;
  font-size: 20px;
}

@media (max-width: 1300px) {
  nav .logo {
    width: 180px;
  }
  nav .menu {
    gap: 30px;
  }
}
@media (max-width: 1100px) {
  nav .logo {
    width: 180px;
  }
  nav .menu {
    gap: 25px;
  }
}
@media (max-width: 1024px) {
  .menu-btn {
    display: flex;
  }
  ul.menu {
    display: none;
  }
}
header {
  background-image: url("https://lh3.googleusercontent.com/8NteV8RUIOQSIpwkJDJdPHa-7975Mio9IAm-AGY40p21zFQP433wW9RdmEKK-vIZRRsnsZvRA5war1HKJAiioIy9i4AW_bn9ucU1BMMS");
  height: 470px;
  background-position: 600px;
  background-repeat: no-repeat;
  background-color: #F2F2F3;
}
header .flowers-info {
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
header .flowers-info h1 {
  font-size: 41px;
}
header .flowers-info span {
  color: #f34f3f;
}
header .flowers-info p {
  color: #3b3b3b;
  font-size: 12px;
}
header .flowers-info img {
  width: 200px;
}

#login-head {
  margin: 3rem 0;
  background-color: #F2F2F3;
}
#login-head .account-head {
  padding: 4rem 0;
  font-size: 41px;
}
#login-head .account-head p {
  font-size: 20px;
}

#login {
  color: #3b3b3b;
  padding-bottom: 6rem;
}
#login h2 {
  font-size: 30px;
  padding: 1rem 0 1.5rem 0;
}
#login p {
  padding-top: 1rem;
  font-size: 16px;
}
#login span {
  padding-right: 2rem;
}
#login .login-input-btn {
  padding: 1rem 0;
}
#login .checkbox {
  width: 30px;
}

.flower-list ul {
  display: flex;
}
.flower-list li {
  color: #3b3b3b;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  padding: 10px 20px;
}
.flower-list li:hover {
  color: #f34f3f;
}
.flower-list li:focus {
  color: orange;
}

.filter {
  color: #3b3b3b;
  display: flex;
  align-items: center;
}
.filter i {
  padding: 0 7px;
}

.sell-item img {
  transition: 0.2s;
  cursor: pointer;
  transform-origin: bottom;
}
.sell-item img:hover {
  transform: scale(1.03);
}

.active {
  background-color: #F2F2F3;
}

input {
  width: 100%;
  font-size: 20px;
  padding: 1rem;
  outline-color: #f34f3f;
}

.btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  background-color: #f34f3f;
  color: #fff;
  transition: 0.2s;
}
.btn:focus {
  background-color: #c43022;
}

a {
  color: #3b3b3b;
  transition: 0.25s;
}
a:hover {
  color: #f34f3f;
}